In [1]:
import pyspark
from pyspark import SparkConf
from pyspark.sql import SparkSession
import pandas as pd

In [2]:
spark = SparkSession \
        .builder \
        .master("local[*]") \
        .appName('etl') \
        .getOrCreate()

In [3]:
log_path = 'data/log-data/'
song_path = 'data/song_data/*/*/*/*.json'

In [4]:
user_log = spark.read.json(log_path)

In [5]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [6]:
user_log.describe().show(truncate=10)

+-------+----------+----------+---------+------+-------------+--------+----------+-----+----------+------+-------+------------+----------+----------+----------+----------+----------+----------+
|summary|    artist|      auth|firstName|gender|itemInSession|lastName|    length|level|  location|method|   page|registration| sessionId|      song|    status|        ts| userAgent|    userId|
+-------+----------+----------+---------+------+-------------+--------+----------+-----+----------+------+-------+------------+----------+----------+----------+----------+----------+----------+
|  count|      6820|      8056|     7770|  7770|         8056|    7770|      6820| 8056|      7770|  8056|   8056|        7770|      8056|      6820|      8056|      8056|      7770|      8056|
|   mean|     266.5|      null|     null|  null|   21.1988...|    null|247.032...| null|      null|  null|   null|  1.54077...|598.167...|1388.36...|202.897...|1.54248...|      null|54.4639...|
| stddev|109.002...|      null|     null|  null|   23.4406...|    null|102.975...| null|      null|  null|   null|  2.65157...|285.313...|2347.51...|17.9942...|7.00316...|      null|28.1685...|
|    min|       !!!| Logged In|   Adelyn|     F|            0|Arellano|  15.85587| free|Atlanta...|   GET|  About|  1.53990...|         3| I Will...|       200|1541105...|"Mozill...|          |
|    max|ÃÂtie...|Logged Out|  Zachary|     M|          127|   Young|2594.87302| paid|Yuba Ci...|   PUT|Upgrade|  1.54109...|      1114|ÃÂ Aq...|       404|1543607...|Mozilla...|        99|
+-------+----------+----------+---------+------+-------------+--------+----------+-----+----------+------+-------+------------+----------+----------+----------+----------+----------+----------+

In [7]:
user_log.count()

8056

In [8]:
# Fact table contains records associated with song plays (page = NextSong),
user_log = user_log.filter(user_log.page == "NextSong")

In [9]:
user_log.describe().show(truncate=10)

+-------+----------+---------+---------+------+-------------+--------+----------+-----+----------+------+--------+------------+----------+----------+----------+----------+----------+----------+
|summary|    artist|     auth|firstName|gender|itemInSession|lastName|    length|level|  location|method|    page|registration| sessionId|      song|    status|        ts| userAgent|    userId|
+-------+----------+---------+---------+------+-------------+--------+----------+-----+----------+------+--------+------------+----------+----------+----------+----------+----------+----------+
|  count|      6820|     6820|     6820|  6820|         6820|    6820|      6820| 6820|      6820|  6820|    6820|        6820|      6820|      6820|      6820|      6820|      6820|      6820|
|   mean|     266.5|     null|     null|  null|   22.7611...|    null|247.032...| null|      null|  null|    null|  1.54077...|599.181...|1388.36...|     200.0|1.54248...|      null|54.6812...|
| stddev|109.002...|     null|     null|  null|   23.4446...|    null|102.975...| null|      null|  null|    null|  2.62742...|284.953...|2347.51...|2.26229...|7.00323...|      null|28.1627...|
|    min|       !!!|Logged In|   Adelyn|     F|            0|Arellano|  15.85587| free|Atlanta...|   PUT|NextSong|  1.53990...|         3| I Will...|       200|1541106...|"Mozill...|        10|
|    max|ÃÂtie...|Logged In|  Zachary|     M|          126|   Young|2594.87302| paid|Yuba Ci...|   PUT|NextSong|  1.54109...|      1114|ÃÂ Aq...|       200|1543607...|Mozilla...|        99|
+-------+----------+---------+---------+------+-------------+--------+----------+-----+----------+------+--------+------------+----------+----------+----------+----------+----------+----------+

In [10]:
user_log.count()

6820

In [11]:
#Check for missing values
from pyspark.sql.functions import col

# List of all df columns
columns = user_log.columns
null = []
# Loop
for column in columns:
    # Filter 
    count = user_log.filter(col(column) == '').count()
    null.append(count)

pd.DataFrame({'column': columns, 'nulls': null})

           column  nulls
0          artist      0
1            auth      0
2       firstName      0
3          gender      0
4   itemInSession      0
5        lastName      0
6          length      0
7           level      0
8        location      0
9          method      0
10           page      0
11   registration      0
12      sessionId      0
13           song      0
14         status      0
15             ts      0
16      userAgent      0
17         userId      0

In [12]:
song_data = spark.read.json(song_path)

In [13]:
song_data.describe().show()

+-------+------------------+------------------+---------------+------------------+-----------+------------------+---------+------------------+--------------------+-----------------+
|summary|         artist_id|   artist_latitude|artist_location|  artist_longitude|artist_name|          duration|num_songs|           song_id|               title|             year|
+-------+------------------+------------------+---------------+------------------+-----------+------------------+---------+------------------+--------------------+-----------------+
|  count|                71|                31|             71|                31|         71|                71|       71|                71|                  71|               71|
|   mean|              null| 36.55297161290323|           null|-73.25123258064517|       null|239.72967605633804|      1.0|              null|                null|785.9577464788732|
| stddev|              null|12.431023413063542|           null| 36.05807592882608|       null|106.56277912134071|      0.0|              null|                null| 980.957119153384|
|    min|AR051KA1187B98B2FF|           -13.442|               |        -122.42005|    40 Grit|          29.54404|        1|SOAOIBZ12AB01815BE|A Higher Place (A...|                0|
|    max|ARYKCQI1187FB3B18F|          56.27609| Zagreb Croatia|           15.9676|  lextrical|         599.24853|        1|SOZVMJI12AB01808AF|   ¿Dónde va Chichi?|             2008|
+-------+------------------+------------------+---------------+------------------+-----------+------------------+---------+------------------+--------------------+-----------------+

In [14]:
song_data.show()

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARDR4AC1187FB371A1|           null|                    |            null|Montserrat Caball...|511.16363|        1|SOBAYLL12A8C138AF9|Sono andati? Fing...|   0|
|AREBBGV1187FB523D2|           null|         Houston, TX|            null|Mike Jones (Featu...|173.66159|        1|SOOLYAZ12A6701F4A6|Laws Patrolling (...|   0|
|ARMAC4T1187FB3FA4C|       40.82624|   Morris Plains, NJ|       -74.47995|The Dillinger Esc...|207.77751|        1|SOBBUGU12A8C13E95D|Setting Fire to S...|2004|
|ARPBNLO1187FB3D52F|       40.71455|        New York, NY|       -74.00712|            Tiny Tim| 43.36281|        1|SOAOIBZ12AB01815BE|I Hold Your Hand ...|2000|
|ARDNS031187B9924F0|       32.67828|             Georgia|       -83.22295|          Tim Wilson|186.48771|        1|SONYPOM12A8C13B2D7|I Think My Wife I...|2005|
|ARNF6401187FB57032|       40.79086|New York, NY [Man...|       -73.96644|   Sophie B. Hawkins|  305.162|        1|SONWXQJ12A8C134D94|The Ballad Of Sle...|1994|
|ARLTWXK1187FB5A3F8|       32.74863|      Fort Worth, TX|       -97.32925|         King Curtis|326.00771|        1|SODREIN12A58A7F2E5|A Whiter Shade Of...|   0|
|ARPFHN61187FB575F6|       41.88415|         Chicago, IL|       -87.63241|         Lupe Fiasco|279.97995|        1|SOWQTQZ12A58A7B63E|Streets On Fire (...|   0|
|ARI2JSK1187FB496EF|       51.50632|     London, England|        -0.12714|Nick Ingman;Gavyn...|111.62077|        1|SODUJBS12A8C132150|Wessex Loses a Bride|   0|
|AROUOZZ1187B9ABE51|       40.79195|New York, NY [Spa...|       -73.94512|         Willie Bobo|168.25424|        1|SOBZBAZ12A6D4F8742|      Spanish Grease|1997|
|AR0RCMP1187FB3F427|       30.08615|        Beaumont, TX|       -94.10158|    Billie Jo Spears|133.32853|        1|SOGXHEG12AB018653E|It Makes No Diffe...|1992|
|AR9AWNF1187B9AB0B4|           null|Seattle, Washingt...|            null|Kenny G featuring...|236.93016|        1|SOZHPGD12A8C1394FE|     Baby Come To Me|   0|
|AR47JEX1187B995D81|       37.83721|          Nevada, MO|       -94.35868|        SUE THOMPSON|124.86485|        1|SOBLGCN12AB0183212|James (Hold The L...|1985|
|ARKFYS91187B98E58F|           null|                    |            null|Jeff And Sheri Ea...| 267.7024|        1|SOYMRWW12A6D4FAB14|The Moon And I (O...|   0|
|AR10USD1187B99F3F1|           null|Burlington, Ontar...|            null|Tweeterfriendly M...|189.57016|        1|SOHKNRJ12A6701D1F8|        Drop of Rain|   0|
|ARB29H41187B98F0EF|       41.88415|             Chicago|       -87.63241|       Terry Callier|342.56934|        1|SOGNCJP12A58A80271|Do You Finally Ne...|1972|
|ARQGYP71187FB44566|       34.31109|         Mineola, AR|       -94.02978|        Jimmy Wakely|151.84934|        1|SOWTBJW12AC468AC6E|Broken-Down Merry...|   0|
|ARMBR4Y1187B9990EB|       37.77916|     California - SF|      -122.42005|        David Martin|241.47546|        1|SOTTDKS12AB018D69B|It Wont Be Christmas|   0|
|AR36F9J1187FB406F1|       56.27609|             Denmark|         9.51695|      Bombay Rockers|230.71302|        1|SOBKWDJ12A8C13B2F3|Wild Rose (Back 2...|   0|
|ARBEBBY1187B9B43DB|           null|     Gainesville, FL|            null|           Tom Petty|236.17261|        1|SOFFKZS12AB017F194|A Higher Place (A...|1994|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 20 rows

### Dimension Tables

#### USERS:
- user_id, first_name, last_name, gender, level

In [24]:
from pyspark.sql.types import *

users = user_log.selectExpr("userId as user_id",
                            "firstName as first_name",
                            "lastName as last_name",
                            "gender",
                            "level").dropDuplicates(["user_id"])
users = users.withColumn('user_id', users.user_id.cast(IntegerType()))

In [25]:
users.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)

In [26]:
users.show()

+-------+----------+---------+------+-----+
|user_id|first_name|last_name|gender|level|
+-------+----------+---------+------+-----+
|     10|    Sylvie|     Cruz|     F| free|
|    100|     Adler|  Barrera|     M| free|
|    101|    Jayden|      Fox|     M| free|
|     11| Christian|   Porter|     F| free|
|     12|    Austin|  Rosales|     M| free|
|     13|       Ava| Robinson|     F| free|
|     14|  Theodore|   Harris|     M| free|
|     15|      Lily|     Koch|     F| paid|
|     16|     Rylan|   George|     M| paid|
|     17|  Makinley|    Jones|     F| free|
|     18|     Jacob|   Rogers|     M| free|
|     19|   Zachary|   Thomas|     M| free|
|      2|   Jizelle| Benjamin|     F| free|
|     20|     Aiden|  Ramirez|     M| paid|
|     22|      Sean|   Wilson|     F| free|
|     23|    Morris|  Gilmore|     M| free|
|     24|     Layla|  Griffin|     F| paid|
|     25|    Jayden|   Graves|     M| paid|
|     26|      Ryan|    Smith|     M| free|
|     27|    Carlos|   Carter|     M| free|
+-------+----------+---------+------+-----+
only showing top 20 rows

#### SONGS:
- song_id, title, artist_id, year, duration

#### ARTISTS:
- artist_id, name, location, lattitude, longitude

#### TIME:
- start_time, hour, day, week, month, year, weekday

In [ ]:
'''Fact Table
songplays - records in log data associated with song plays i.e. records with page NextSong
    songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent'''